
<!doctype html>
<html lang="en">

    <head>

		<!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <title><%= title %></title>

        <!-- CSS -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500&display=swap">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link rel="stylesheet" href="../css/jquery.mCustomScrollbar.min.css">
        <link rel="stylesheet" href="../css/animate.css">
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/media-queries.css">

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="../ico/favicon.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="../ico/apple-touch-icon-57-precomposed.png">

    </head>

    <body>

		<!-- Wrapper -->
    	<div class="wrapper">

			<!-- Sidebar -->
			<nav class="sidebar">
				
				<!-- close sidebar menu -->
				<div class="dismiss">
					<i class="fas fa-arrow-left"></i>
				</div>
				
				<div class="logo">
					<h3><a href="index.html">Bootstrap 4 Template with Sidebar Menu</a></h3>
				</div>
				
				<ul class="list-unstyled menu-elements">
					<li class="active">
						<a href="/blocs">Bloc</a>
					</li>
					<li>
            <a href="/salles">Salles</a>
						
					</li>
					<li>
            <a href="/creneau">Creneau</a>
						
					</li>
					<li>
            <a href="/occupation">Occupation</a>
						
					</li>
					
          <li>
						<a href="#otherSections" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" role="button" aria-controls="otherSections">
							<i class="fas fa-sync"></i>ADD
						</a>
						<ul class="collapse list-unstyled" id="otherSections">
							<li>
								<a href="/salles/add">ADD SALLES</a>
								
							</li>
							<li>
								<a href="/blocs/add">ADD BLOCS</a>
							</li>
              <li>
                <a href="/creneau/add">ADD CRENEAU</a>
							
							</li>
						</ul>
					</li>
						</ul>
					</li>
				</ul>
				
				<div class="to-top">
					<a class="btn btn-primary btn-customized-3" href="#" role="button">
	                    <i class="fas fa-arrow-up"></i> Top
	                </a>
				</div>
				
				<div class="dark-light-buttons">
					<a class="btn btn-primary btn-customized-4 btn-customized-dark" href="#" role="button">Dark</a>
					<a class="btn btn-primary btn-customized-4 btn-customized-light" href="#" role="button">Light</a>
				</div>
			
			</nav>
			<!-- End sidebar -->
			
			<!-- Dark overlay -->
    		<div class="overlay"></div>

			<!-- Content -->
			<div class="content">
			
				<!-- open sidebar menu -->
				<a class="btn btn-primary btn-customized open-menu" href="#" role="button">
                    <i class="fas fa-align-left"></i> <span>Menu</span>
                </a>
			
                <div class="container">
                  <style>
                    h2 {text-align: center;}
                   
                    </style>
                  <h2><%= title %></h2>
                <form action="save" method="POST" autocomplete="off">
                  
                  <div class="form-group">
                      <label>Name</label>
                      <input type="text" class="form-control" name="name" placeholder="Bloc X">
                 
                      <div class="form-group" style="
                      margin-top: 12px;
                  ">
                        <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Submit</button>
                        <a class="btn btn-secondary" href="/blocs"><i class="fa fa-list-alt"></i> View All</a>
                    </div>
                  </div>
              </form>
                </div>
              





		       
        <!-- Javascript -->
		<script src="../js/jquery-3.3.1.min.js"></script>
		<script src="../js/jquery-migrate-3.0.0.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="..js/jquery.backstretch.min.js"></script>
        <script src="../js/wow.min.js"></script>
        <script src="../js/jquery.waypoints.min.js"></script>
        <script src="../js/jquery.mCustomScrollbar.concat.min.js"></script>
        <script src="../js/scripts.js"></script>
	</div>
    </body>

</html>